@import "tailwindcss";


/* Hide scrollbar completely */
.gallery-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.gallery-scroll {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE & Edge */
  overflow-y: hidden !important;
}

/* Fade-in animation for popup */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}
